<a href="https://colab.research.google.com/github/schoyosm/Poster/blob/master/Pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importing pandas
import pandas as pd

In [2]:
# All version informations of the libraries
# pd.show_versions()

# print version loaded and imported
pd.__version__

'1.3.5'

**Data Frames basics**

A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames.

In [3]:
import numpy as np

In [10]:
# consider the following python dictionary data and python list labels 

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=data,index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
# Summary basic information about the data 
df.describe()

In [ ]:
# Return the first 3 rows of the DataFrame df
df.head(3)

In [ ]:
# Selecting by label.  Select just the 'animal' and 'age' columns from the DataFrame df.
df.loc[:,["animal","age"]]

In [ ]:
# Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].
# Selecting by position 
df.iloc[[4,5,9],[0,1]]

In [25]:
# Select only the rows where the number of visits is greater than 3.
df[df["visits"]>3] # any row has visits greater than 3

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [11]:
# Select the rows where the age is missing, i.e. it is NaN.
df[df["age"].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [13]:
#  Select the rows where the animal is a cat and the age is less than 3.
df[(df['animal']=="cat") & (df['age']<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [14]:
# Select the rows the age is between 2 and 4 (inclusive).
df[df['age'].between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [19]:
# Change the age in row 'f' to 1.5.
df.at['f','age'] = 1.5
df.loc['f',] # To see the change

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

In [22]:
# Calculate the sum of all visits in df (i.e. find the total number of visits).
df['visits'].sum()

19

In [24]:
# Calculate the mean age for each different animal in df.
df.groupby('animal').mean('age')

             age  visits
animal
cat     2.333333     2.0
dog     5.000000     2.0
snake   2.500000     1.5

In [16]:
# Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.
k = pd.DataFrame({'animal':['cat'],'age':[1],'visits':[3],'priority':['no']},index= ['k'])
df = df.append(k,)
df = df.drop(index=['k']) # drop with index note that also can be with column

In [17]:
# Count the number of each type of animal in df.
df.groupby('animal').size()

animal
cat      4
dog      4
snake    2
dtype: int64

In [20]:
# Sort df first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order 
# (so row i should be first, and row d should be last).
df.sort_values(by=['age','visits'],ascending=[False,True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [21]:
# The 'priority' column contains the values 'yes' and 'no'. 
# Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.
df = df.replace({'priority':{'yes':True,
                             'no':False}})

In [24]:
# In the 'animal' column, change the 'snake' entries to 'python'.
df = df.replace({'animal':{'snake':'python'}})
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  2.0       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

In [25]:
# For each animal type and each number of visits, find the mean age. In other words, each row is an animal, 
# each column is a number of visits and the values are the mean ages (hint: use a pivot table).
pd.pivot_table(df,index='animal',columns='visits',values='age',aggfunc=np.mean)

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
python  4.5  0.5  NaN

**DataFrames : beyond the basics**

Slightly trickier: you may need to combine two or more methods to get the right answer

In [14]:
# You have a DataFrame df with a column 'A' of integers. For example:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
# How do you filter out rows which contain the same integer as the row immediately above?
df[ # filter df with a boolean array
   df.A.ne(df.A.shift()) # find out if elements are different from the row above
]
np.unique(df) # unique elements

array([1, 2, 3, 4, 5, 6, 7])

In [17]:
# Given a DataFrame of numeric values, say
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df

          0         1         2
0  0.642656  0.431064  0.070709
1  0.645099  0.067036  0.712756
2  0.960977  0.356980  0.191869
3  0.981431  0.047594  0.268076
4  0.630335  0.899887  0.895445

In [21]:
# find the mean by row 
df.mean(axis=1)

0    0.381476
1    0.474964
2    0.503275
3    0.432367
4    0.808556
dtype: float64

In [31]:
# Suppose you have DataFrame with 10 columns of real numbers, for example:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df
# Which column of numbers has the smallest sum? Return that column's label.
df.sum(axis=0).idxmin(axis=0)

'a'

In [43]:
 # How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?
 # As input, use a DataFrame of zeros and ones with 10 rows and 3 columns.
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
df
df.duplicated()

0    False
1    False
2    False
3     True
4    False
5     True
6     True
7    False
8     True
9    False
dtype: bool

In [46]:
print ((~df.duplicated()).sum()) # sum no duplicated rows

6